.hero-viewport {
  position: relative;
  z-index: 10;
  height: 80vh !important; /* Enforce 80vh as requested */
  background: #161616;
}

.hero-slide-item img {
  filter: brightness(0.9);
  transition: transform 8s linear;
}

.hero-slide-item:hover img {
  transform: scale(1.05);
}

.hero-slide-item .container {
  max-width: 1440px;
}
